---
# .github/workflows/ansible-lint.yml

name: Ansible Lint

on: push

jobs:
  run-ansible-lint:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6
